<% content_for :page_title do %>
  DRIVIFY - REGISTRO
<% end %>

<% content_for :css do %>
  <style>
    /*.backstretch{*/
      /*opacity: 0.65;*/
    /*}*/
    .logo-drivify a{
      font-weight: 600;
      font-size: 2em;
      color: #FFFFFF;
    }
    .border {
      background-color: #111;
      color: #fff;
      padding: 18px;
      font-size: 2em;
      letter-spacing: 1em;
      text-align: center;
    }
  </style>
<% end %>

<div class="container-fluid animated fadeInDown">
  <div class="row" style="margin-top: 2em;">
    <div class="col-md-6 col-md-offset-3">
      <div class="border">
        <p>
          <i class="fa fa-car"></i>DRIVIFY
        </p>
        <p>
          <span>REGISTRO</span>
        </p>
      </div>
      <div class="ibox float-e-margins" style="width: 100%;">
        <div class="ibox-content">
          <%= form_for :user, html: {role: "form"} do |f| %>
            <div class="form-group">
              <label><span class="text-danger">*</span>Nombre(s)</label>
              <%= f.text_field :nombre, class:"form-control", required:"true" %>
            </div>
            <div class="form-group">
              <label><span class="text-danger">*</span>Apellido Paterno</label>
              <%= f.text_field :ap_paterno, class:"form-control", required:"true" %>
            </div>
            <div class="form-group">
              <label><span class="text-danger">*</span>Apellido Materno</label>
              <%= f.text_field :ap_materno, class:"form-control", required:"true" %>
            </div>
            <div class="form-group">
              <label><span class="text-danger">*</span>Fecha de Nacimiento</label>
              <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <%= f.date_field :fecha_nacimiento, class:"form-control", required:"true", max:"#{DateTime.now}" %>
              </div>
            </div>
            <div class="form-group">
              <label><span class="text-danger">*</span>CURP</label>
              <%= f.text_field :curp, class:"form-control", required:"true" %>
            </div>
            <div class="form-group">
              <label><span class="text-danger">*</span>Correo Electrónico</label>
              <%= f.email_field :email, class:"form-control", required:"true" %>
            </div>
            <div class="form-group">
              <label><span class="text-danger">*</span>Contraseña</label>
              <%= f.password_field :password, class:"form-control", required:"true", minlength: "8" %>
            </div>
            <div class="form-group">
              <label><span class="text-danger">*</span>Confirmar Contraseña</label>
              <%= f.password_field :password_confirmation, class:"form-control", required:"true", minlength: "8" %>
            </div>
            <%= recaptcha_tags %>
            <br>
            <%= f.submit "Enviar", class: "btn btn-primary btn-block" %>
          <% end %>
          ¿Ya tienes una cuenta? <%= link_to "Inicia Sesión", login_path %>
        </div>
        <div class="ibox-footer">
          Los campos marcados con (<span class="text-danger">*</span>) son obligatorios.
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :script do %>
  <script>

    $(function(){

        // $.backstretch("https://images.pexels.com/photos/13861/IMG_3496bfree.jpg");
        $.backstretch(' ');

        $('#user_curp').on('keyup',function(){
            $(this).val($(this).val().toUpperCase());
        });

    });

  </script>
<% end %>