<% content_for :page_title do %>
  DRIVIFY - REGISTRO
<% end %>

<% content_for :css do %>
  <style>
    /*html,body,.container-fluid,.row,[class*="col-"]{
      height: 100%;
    }*/
    .backstretch{
      opacity: 0.65;
    }
    .logo-drivify a{
      font-weight: 600;
      font-size: 2em;
      color: #FFFFFF;
    }
    .caption {
      /*position: absolute;
      left: 0;
      top: 25%;*/
      width: 100%;
      text-align: center;
      vertical-align: middle;
      color: #000;
    }
    .border {
      background-color: #111;
      color: #fff;
      padding: 18px;
      font-size: 2em;
      letter-spacing: 1em;
      text-align: center;
    }
    /*#container-col{
      padding: 100px;
      display: flex;
      align-items: center;
    }*/
    /*.gray-bg{
      height: 100%;
      width: 100%;
    }*/
  </style>
<% end %>

<div class="container-fluid">

  <div class="row" style="margin-top: 2em;">
    <div class="col-md-6 col-md-offset-3">
      <!--<div class="caption">
        <span class="border">REGISTRO</span><br><br>
      </div>-->
      <div class="border">
        <i class="fa fa-car"></i>DRIVIFY&#8209;REGISTRO
      </div>
      <div class="ibox float-e-margins" style="width: 100%;">
        <div class="ibox-content">
          <%= form_for :user, html: {role: "form"} do |f| %>
            <div class="form-group">
              <label><span class="text-danger">*</span>Nombre(s)</label>
              <%= f.text_field :nombre, class:"form-control", required:"true" %>
            </div>
            <div class="form-group">
              <label><span class="text-danger">*</span>Apellido Paterno</label>
              <%= f.text_field :ap_paterno, class:"form-control", required:"true" %>
            </div>
            <div class="form-group">
              <label><span class="text-danger">*</span>Apellido Materno</label>
              <%= f.text_field :ap_materno, class:"form-control", required:"true" %>
            </div>
            <div class="form-group">
              <label><span class="text-danger">*</span>Fecha de Nacimiento</label>
              <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <%= f.date_field :fecha_nacimiento, class:"form-control", required:"true" %>
              </div>
            </div>
            <div class="form-group">
              <label><span class="text-danger">*</span>CURP</label>
              <%= f.text_field :curp, class:"form-control", required:"true" %>
            </div>
            <div class="form-group">
              <label><span class="text-danger">*</span>Correo Electrónico</label>
              <%= f.email_field :email, class:"form-control", required:"true" %>
            </div>
            <div class="form-group">
              <label><span class="text-danger">*</span>Contraseña</label>
              <%= f.password_field :password, class:"form-control", required:"true", minlength: "8" %>
            </div>
            <div class="form-group">
              <label><span class="text-danger">*</span>Confirmar Contraseña</label>
              <%= f.password_field :password_confirmation, class:"form-control", required:"true", minlength: "8" %>
            </div>
            <%= recaptcha_tags %>
            <br>
            <%= f.submit "Enviar", class: "btn btn-primary btn-block" %>
          <% end %>
          ¿Ya tienes una cuenta? <%= link_to "Inicia Sesión", login_path %>
        </div>
        <div class="ibox-footer">
          <!-- <span class="pull-right">
            ¿Ya tienes una cuenta? <%= link_to "Inicia Sesión", login_path %>
          </span> -->
          Los campos marcados con (<span class="text-danger">*</span>) son obligatorios.
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
    </div>
    <div id="container-col" class="col-sm-5">

    </div>
  </div>
</div>

<% content_for :script do %>
  <script>

    $(function(){

        // $.backstretch("https://images.pexels.com/photos/13861/IMG_3496bfree.jpg");
        $.backstretch("https://images.pexels.com/photos/7674/pexels-photo.jpg");

        $('#user_curp').on('keyup',function(){
            $(this).val($(this).val().toUpperCase());
        });

    });

  </script>
<% end %>