<% content_for :page_title do %>
  DRIVIFY - REGISTRO
<% end %>

<% content_for :css do %>
  <style>
    html,body,.container-fluid,.row,[class*="col-"]{
      height: 100%;
    }
    .backstretch{
      opacity: 0.65;
    }
    .logo-drivify a{
      font-weight: 600;
      font-size: 70px;
      color: #FFFFFF;
    }
    .caption {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      text-align: center;
      vertical-align: middle;
      color: #000;
    }
    .caption span.border {
      background-color: #111;
      color: #fff;
      padding: 18px;
      font-size: 25px;
      letter-spacing: 10px;
    }
    #container-col{
      padding: 100px;
      display: flex;
      align-items: center;
    }
    .gray-bg{
      height: 100%;
      width: 100%;
    }
  </style>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-7">
      <h1 class="logo-drivify text-white">
        <%= link_to root_path do %>
          <i class="fa fa-car"></i> DRIVIFY
        <% end %>
      </h1>
      <div class="caption">
        <span class="border">REGISTRO</span><br><br>
      </div>
    </div>
    <div id="container-col" class="col-sm-5">
      <div class="ibox float-e-margins" style="width: 100%;">
        <div class="ibox-content">
          <%= form_for :user, html: {role: "form"} do |f| %>
            <div class="form-group">
            <label>Nombre(s)<span class="text-danger">*</span></label>
              <%= f.text_field :nombre, class:"form-control", required:"true" %>
            </div>
            <div class="form-group">
              <label>Apellido Paterno<span class="text-danger">*</span></label>
              <%= f.text_field :ap_paterno, class:"form-control", required:"true" %>
            </div>
            <div class="form-group">
              <label>Apellido Materno<span class="text-danger">*</span></label>
              <%= f.text_field :ap_materno, class:"form-control", required:"true" %>
            </div>
            <div class="form-group">
              <label>Fecha de Nacimiento<span class="text-danger">*</span></label>
              <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <%= f.date_field :fecha_nacimiento, class:"form-control", required:"true" %>
              </div>
            </div>
            <div class="form-group">
              <label>CURP<span class="text-danger">*</span></label>
              <%= f.text_field :curp, class:"form-control", required:"true" %>
            </div>
            <div class="form-group">
              <label>Correo Electrónico<span class="text-danger">*</span></label>
              <%= f.email_field :email, class:"form-control", required:"true" %>
            </div>
            <div class="form-group">
              <label>Contraseña<span class="text-danger">*</span></label>
              <%= f.password_field :password, class:"form-control", required:"true", minlength: "8" %>
            </div>
            <div class="form-group">
              <label>Confirmar Contraseña<span class="text-danger">*</span></label>
              <%= f.password_field :password_confirmation, class:"form-control", required:"true", minlength: "8" %>
            </div>
            <%= recaptcha_tags %>
            <br>
            <%= f.submit "Enviar", class: "btn btn-primary btn-block" %>
          <% end %>
          ¿Ya tienes una cuenta? <%= link_to "Inicia Sesión", login_path %>
        </div>
        <div class="ibox-footer">
          <!-- <span class="pull-right">
            ¿Ya tienes una cuenta? <%= link_to "Inicia Sesión", login_path %>
          </span> -->
          Los campos marcados con (<span class="text-danger">*</span>) son obligatorios.
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :script do %>
  <script>

    $(function(){

        // $.backstretch("https://images.pexels.com/photos/13861/IMG_3496bfree.jpg");
        $.backstretch("https://images.pexels.com/photos/7674/pexels-photo.jpg");

        $('#user_curp').on('keyup',function(){
            $(this).val($(this).val().toUpperCase());
        });

    });

  </script>
<% end %>