<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Evaluaciones Prácticas</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-hover" width="100%">
                  <thead>
                    <tr>
                      <th class="text-left">ID</th>
                      <th class="text-left">Usuario</th>
                      <th class="text-left">CURP</th>
                      <th class="text-left">Cita</th>
                      <th class="text-left">Fecha de Solicitud</th>
                      <th class="text-left">Fecha de Aplicación</th>
                      <th class="text-right">Obstaculos Derribados</th>
                      <th class="text-right">Velocidad Excedida</th>
                      <th class="text-right">Tiempo de Simulación</th>
                      <th class="text-center">Estado de la Evaluación</th>
                      <th class="text-center">Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @simulations.each do |simulation| %>
                      <tr>
                        <td class="text-left"><%= simulation.id %></td>
                        <td class="text-left"><%= simulation.quiz.user.nombre_completo %></td>
                        <td class="text-left"><%= simulation.quiz.user.curp %></td>
                        <td class="text-left"><%= "#{simulation.appointment.fecha.strftime("%d/%m/%Y")}, #{simulation.appointment.hour.rango_horas}" %></td>
                        <td class="text-left"><%= simulation.created_at.strftime('%d/%m/%Y') %> <small><%= simulation.created_at.strftime('%I:%M:%S %p') %></small></td>
                        <% if simulation.fecha_aplicacion.blank? %>
                          <td class="text-left">-</td>
                        <% else %>
                          <td class="text-left"><%= simulation.fecha_aplicacion.strftime('%d/%m/%Y') %> <small><%= simulation.fecha_aplicacion.strftime('%I:%M:%S %p') %></small></td>
                        <% end %>
                        <td class="text-right"><%= simulation.get_estado <= 1 ? "-" : simulation.obstaculos_derribados %></td>
                        <td class="text-right"><%= simulation.get_estado <= 1 ? "-" : "#{simulation.velocidad_excedida} veces" %></td>
                        <td class="text-right"><%= simulation.get_estado <= 1 ? "-" : simulation.duracion_horas_minutos %></td>
                        <% if simulation.get_estado == 1 %>
                          <td class="text-center"><span class="label label-success">Agendada</span></td>
                        <% else %>
                          <td class="text-center"><span class="label label-info">Presentada</span></td>
                        <% end %>
                        <td class="text-center">
                          <% if simulation.get_estado == 2 %>
                            <span class="btn btn-sm btn-mg btn-danger" data-toggle="tooltip" data-placement="top" title="Generar Dictamen"><i class="fa fa-file-pdf-o"></i></span>
                          <% else %>
                          -
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :script do %>
  <script>

      $(function () {
          <%= render "js_partials/dataTable.js" %>
          $.select2("select");
      });

  </script>
<% end %>