<% content_for :page_title do %>
  DRIVIFY - INICIO DE SESIÓN
<% end %>

<% content_for :css do %>
  <style>
    /*.backstretch{*/
      /*opacity: 0.65;*/
    /*}*/
    .logo-drivify a{
      font-weight: 600;
      font-size: 2em;
      color: #FFFFFF;
    }
    .border {
      background-color: #111;
      color: #fff;
      padding: 18px;
      font-size: 2em;
      letter-spacing: 1em;
      text-align: center;
    }
  </style>
<% end %>

<div class="container-fluid animated fadeInDown">
  <div class="row" style="margin-top: 2em;">
    <div class="col-md-6 col-md-offset-3">
      <div class="border">
        <p>
          <i class="fa fa-car"></i>DRIVIFY
        </p>
        <p>
          <span>INICIO DE SESIÓN</span>
        </p>
      </div>
      <div class="ibox float-e-margins" style="width: 100%;">
        <div class="ibox-content">
          <%= form_for :login, html: {role: "form"} do |f| %>
            <div class="form-group">
              <label>Correo Electrónico<span class="text-danger">*</span></label>
              <%= f.email_field :email, class:"form-control", required:"true" %>
            </div>
            <div class="form-group">
              <label>Contraseña<span class="text-danger">*</span></label>
              <%= f.password_field :password, class:"form-control", required:"true", minlength: "8"%>
            </div>
            <%= f.submit "Enviar", class: "btn btn-primary btn-block" %>
          <% end %>
          ¿No tienes una cuenta? <%= link_to "Regístrate", registro_path %>
        </div>
        <div class="ibox-footer">
          Los campos marcados con (<span class="text-danger">*</span>) son obligatorios.
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :script do %>
  <script>

      $(function(){
          $.backstretch(' ');
      });

  </script>
<% end %>