<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Usuarios</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-12 p-sm">
              <%= link_to new_user_path do %>
                <span class="btn btn-primary"><i class="fa fa-user-plus"></i> Agregar Usuario</span>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-hover" width="100%">
                  <thead>
                    <tr>
                      <th class="text-left">ID</th>
                      <th class="text-left">Nombre</th>
                      <th class="text-left">CURP</th>
                      <th class="text-left">Correo Electrónico</th>
                      <th class="text-left">Fecha de Nacimiento</th>
                      <th class="text-left">Rol</th>
                      <th class="text-left">Fecha de Creación</th>
                      <th class="text-center">Evaluaciones Solicitadas</th>
                      <th class="text-left">Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @users.each do |user| %>
                      <tr>
                        <td class="text-left"><%= user.id %></td>
                        <td><%= user.nombre_completo %></td>
                        <td><%= user.curp %></td>
                        <td><%= user.email %></td>
                        <td class="text-left"><%= user.fecha_nacimiento.strftime('%d/%m/%Y') %></td>
                        <td><%= user.role.nombre_descripcion %></td>
                        <td class="text-left"><%= user.created_at.strftime('%d/%m/%Y') %> <small><%= user.created_at.strftime('%I:%M:%S %p') %></small></td>
                          <% if user.role.id != 1 %>
                            <td class="text-center"><span class="badge badge-info"><%= user.requested_quizzes.count %></span></td>
                            <td class="text-center">
                              <%= link_to edit_user_path(user.id) do %>
                                <span class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-pencil"></i></span>
                              <% end %>
                              <%= link_to destroy_user_path(user.id), method: :delete, data:{confirm: "Esta acción es irreversible, ¿Desea continuar?"} do %>
                                <span class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-trash"></i></span>
                              <% end %>
                            </td>
                          <% else %>
                          <td class="text-center">N/A</td>
                          <td class="text-center"></td>
                      <%end %>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :script do %>
  <script>

    $(function () {
        <%= render "js_partials/dataTable.js" %>
        $.select2("select");
    });

  </script>
<% end %>