<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Preguntas</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-12 p-sm">
              <%= link_to new_question_path do %>
                <span class="btn btn-primary"><i class="fa fa-plus"></i> Agregar Pregunta</span>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-hover" width="100%">
                  <thead>
                  <tr>
                    <th class="text-left">ID</th>
                    <th class="text-center">Tipo de Evaluación</th>
                    <th class="text-center">Pregunta</th>
                    <th class="text-center">Número de Respuestas</th>
                    <th class="text-center">Acción</th>
                  </tr>
                  </thead>
                  <tbody>
                    <% @questions.each do |question| %>
                      <tr>
                        <td class="text-left"><%= question.id %></td>
                        <td class="text-center"><%= question.quiz_type.nombre %></td>
                        <td class="text-justify"><%= question.pregunta %></td>
                        <td class="text-center"><span class="badge badge-info"><%= question.answers.count %></span></td>
                        <td class="text-center">
                          <%= link_to edit_question_path(question.id) do %>
                            <span class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-pencil"></i></span>
                          <% end %>
                          <%= link_to destroy_question_path(question.id), method: :delete, data:{confirm: "Esta acción es irreversible, ¿Desea continuar?"} do %>
                            <span class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-trash"></i></span>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :script do %>
  <script>

      $(function () {
          <%= render "js_partials/dataTable.js" %>
          $.select2("select");
      });

  </script>
<% end %>