<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Notaci贸n</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-12">
              <p class="text-success"> Respuesta correcta. <i class="fa fa-check"></i></p>
              <p class="text-danger"> Respuesta de usuario err贸nea. <i class="fa fa-times"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Evaluaci贸n Te贸rica</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-12">
              <% @quiz.quiz_type.questions.each.with_index(1)  do |question, index| %>
                <h3> <%= "Pregunta #{index}" %> </h3>
                <h4> <%= question.pregunta %> </h4>
                <% question.answers.order(:inciso).each do |answer| %>
                  <% @user_answers.each do |userAnswer| %>
                    <% if userAnswer.question == question %>
                      <%# Si la respuesta es la respuesta que dio el usuario%>
                      <% if answer.correcta %>
                        <p class="text-success"><%= "#{answer.inciso}) #{answer.respuesta}" %> <i class="fa fa-check"></i></p>
                      <% elsif userAnswer.answer == answer %>
                        <p class="text-danger"><%= "#{answer.inciso}) #{answer.respuesta}" %> <i class="fa fa-times"></i></p>
                      <% else %>
                        <p><%= "#{answer.inciso}) #{answer.respuesta}" %></p>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
                <div class="hr-line-dashed-dark"></div>
              <% end %>
              <h2 class="p-md bg-<%= @quiz.puntaje >= 8 ? "success" : "danger" %>">Puntaje Final: <%= @quiz.puntaje %></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  


