<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Evaluaciones Teóricas de <%= current_user.nombre_completo %></h5>
        </div>
        <div class="ibox-content">
					<% if @active_quizzes.count == 0  %>
						<div class="row">
							<div class="col-md-12">
								<%= link_to quiz_user_create_path, :method => 'post' do %>
									<span class="btn btn-primary"><i class="fa fa-plus"></i> Solicitar Evaluación Teórica</span>
								<% end %>
							</div>
						</div>
					<% end %>
          <div class="row">
							<% @quizzes.each do |quiz| %>
							<div class="col-lg-6">
								<% if quiz.get_estado == 1 %>
									<div class="widget-head-color-box yellow-bg p-lg text-center">
										<h2 class="font-bold no-margins">
											Evaluación Teórica Pendiente
										</h2>
										<small>Solicitud realizada el <%= quiz.created_at.strftime("%d/%m/%Y") %> a las <%= quiz.created_at.strftime('%I:%M:%S %p') %></small>
									</div>
								<% elsif quiz.get_estado == 2 %>
									<div class="widget-head-color-box blue-bg p-lg text-center">
										<h2 class="font-bold no-margins">
											Evaluación Teórica Autorizada
										</h2>
										<small>Solicitud realizada el <%= quiz.created_at.strftime("%d/%m/%Y") %> a las <%= quiz.created_at.strftime('%I:%M:%S %p') %></small>
									</div>
								<% else %>
									<div class="widget-head-color-box lazur-bg p-lg text-center">
										<h2 class="font-bold no-margins">
											Evaluación Teórica Presentada
										</h2>
										<small>Solicitud realizada el <%= quiz.created_at.strftime("%d/%m/%Y") %> a las <%= quiz.created_at.strftime('%I:%M:%S %p') %></small>
										<br>
										<small>Evaluación presentada el <%= quiz.fecha_aplicacion.strftime("%d/%m/%Y") %> a las <%= quiz.fecha_aplicacion.strftime('%I:%M:%S %p') %></small>
									</div>
								<% end %>
								<div class="widget-text-box">
									<!-- <h4 class="media-heading">ID: <%= quiz.id %> </h4> -->
									<table class="table">
										<col style="width:40%">
										<col style="width:60%">	
										<tbody>
											<tr>
													<td><b>Evaluador: </b></td>
													<% if quiz.get_estado > 1 %>
														<td><%= quiz.evaluator.nombre_completo %></td>
													<% else%>
														<td><span class="text-danger">Sin evaluador asignado</span><td>
													<% end %>
											</tr>
											<tr>
													<td><b>Tipo de Examen: </b></td>
													<td> <%= quiz.quiz_type.nombre%> </td>
											</tr>
											<tr>
													<td><b>Puntaje: </b></td>
													<% if quiz.get_estado == 3 %>
														<td><%= quiz.puntaje %></td>
													<% else%>
														<td>-<td>
													<% end %>
											</tr>
										</tbody>
									</table>
									<div class="text-right">										
										<% if quiz.get_estado == 1 %>
											<span class="btn btn-xs btn-mg btn-primary" disabled="true"><i class="fa fa-pencil-square-o"></i> Presentar Evaluación</span>
										<% elsif quiz.get_estado == 2 %>
											<%= link_to quiz_user_show_path(quiz.id) do %>
												<span class="btn btn-xs btn-mg btn-primary"><i class="fa fa-pencil-square-o"></i> Presentar Evaluación</span>
											<% end %>
										<% elsif quiz.get_estado == 3 %>
											<span class="btn btn-xs btn-mg btn-success"><i class="fa fa-search"></i> Consultar Evaluación</span>
											<span class="btn btn-xs btn-mg btn-success"><i class="fa fa-search"></i> Consultar Evaluación</span>
										<% end %>
									</div>
								</div>
							</div>
						<% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :script do %>
  <script>

      $(function () {
          $.select2("select");
					var maxHeight = Math.max.apply(null, $('.widget-head-color-box').map(function(){
						return $(this).height();
					}).get());
					$('.widget-head-color-box').each(function(){
						$(this).height(maxHeight);
					});
      });

  </script>
<% end %>