<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Evaluaciones Teóricas de <%= current_user.nombre_completo %></h5>
        </div>
        <div class="ibox-content">
					<% if @active_quizzes.count == 0  %>
						<div class="row">
							<div class="col-md-12">
								<%= link_to quiz_user_create_path, :method => 'post' do %>
									<span class="btn btn-primary"><i class="fa fa-plus"></i> Solicitar Evaluación Teórica</span>
								<% end %>
							</div>
						</div>
					<% end %>
          <% if @quizzes.count == 0 %>
            <h1 class="p-lg text-muted">No cuentas con evaluaciones teóricas registradas.</h1>
          <% end %>
          <div class="row">
							<% @quizzes.each do |quiz| %>
							<div class="col-lg-4">
								<% if quiz.get_estado == 1 %>
									<div class="widget-head-color-box yellow-bg p-lg text-center">
										<h2 class="font-bold no-margins">
											Evaluación Teórica Pendiente
										</h2>
										<small>Solicitud realizada el <%= quiz.created_at.strftime("%d/%m/%Y") %> a las <%= quiz.created_at.strftime('%I:%M:%S %p') %></small>
									</div>
								<% elsif quiz.get_estado == 2 %>
									<div class="widget-head-color-box lazur-bg p-lg text-center">
										<h2 class="font-bold no-margins">
											Evaluación Teórica Autorizada
										</h2>
										<small>Solicitud realizada el <%= quiz.created_at.strftime("%d/%m/%Y") %> a las <%= quiz.created_at.strftime('%I:%M:%S %p') %></small>
									</div>
								<% else %>
									<div class="widget-head-color-box blue-bg p-lg text-center">
										<h2 class="font-bold no-margins">
											Evaluación Teórica Presentada
										</h2>
										<small>Solicitud realizada el <%= quiz.created_at.strftime("%d/%m/%Y") %> a las <%= quiz.created_at.strftime('%I:%M:%S %p') %></small>
										<br>
										<small>Evaluación presentada el <%= quiz.fecha_aplicacion.strftime("%d/%m/%Y") %> a las <%= quiz.fecha_aplicacion.strftime('%I:%M:%S %p') %></small>
									</div>
								<% end %>
								<div class="widget-text-box">
                  <div class="row p-w-xs">
                    <hr>
                    <div class="col-lg-4"><b>Evaluador:</b></div>
                    <% if quiz.get_estado > 1 %>
                      <div class="col-lg-8"><%= quiz.evaluator.nombre_completo %></div>
                    <% else %>
                      <div class="col-lg-8"><span class="text-danger">Sin evaluador asignado</span></div>
                    <% end %>
                  </div>
                  <div class="row p-w-xs">
                    <hr>
                    <div class="col-lg-4"><b>Tipo de Examen:</b></div>
                    <div class="col-lg-8"><%= quiz.quiz_type.nombre%></div>
                  </div>
                  <div class="row p-w-xs">
                    <hr>
                    <div class="col-lg-4"><b>Puntaje:</b></div>
                    <% if quiz.get_estado == 3 %>
                      <% if quiz.puntaje >= 8 %>
                        <div class="col-lg-8 text-navy"><%= quiz.puntaje %></div>
                      <% else %>
                        <div class="col-lg-8 text-danger"><%= quiz.puntaje %></div>
                      <% end %>
                    <% else%>
                      <div class="col-lg-8">-</div>
                    <% end %>
                  </div>
                  <div class="row p-h-xs">
                    <div class="col-lg-12">
                      <div class="text-right">
                        <% if quiz.get_estado == 1 %>
                          <span class="btn btn-xs btn-mg btn-primary" disabled="true"><i class="fa fa-pencil-square-o"></i> Presentar Evaluación</span>
                        <% elsif quiz.get_estado == 2 %>
                          <%= link_to quiz_user_show_path(quiz.id) do %>
                            <span class="btn btn-xs btn-mg btn-primary"><i class="fa fa-pencil-square-o"></i> Presentar Evaluación</span>
                          <% end %>
                        <% elsif quiz.get_estado == 3 %>
                          <% if quiz.puntaje >= 8 && quiz.simulation.blank? %>
                            <%= link_to simulation_user_new_path(quiz.id) do %>
                              <span class="btn btn-xs btn-mg btn-primary"><i class="fa fa-calendar"></i> Agendar Evaluación Práctica</span>
                            <% end %>
                          <% end %>
                          <!--<span class="btn btn-xs btn-mg btn-primary"><i class="fa fa-file-pdf-o"></i> Generar Dictamen</span>-->
                          <%= link_to quiz_user_consulta_path(quiz.id) do %>
                            <span class="btn btn-xs btn-mg btn-info"><i class="fa fa-search"></i> Consultar Evaluación</span>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
								</div>
							</div>
						<% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :script do %>
  <script>

      $(function () {
          $.select2("select");
					var maxHeight = Math.max.apply(null, $('.widget-head-color-box').map(function(){
						return $(this).height();
					}).get());
					$('.widget-head-color-box').each(function(){
						$(this).height(maxHeight);
					});
      });

  </script>
<% end %>