<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Respuestas</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-12 p-sm">
              <%= link_to new_answer_path do %>
                <span class="btn btn-primary"><i class="fa fa-plus"></i> Agregar Respuesta</span>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-hover" width="100%">
                  <thead>
                  <tr>
                    <th class="text-left">ID</th>
                    <th class="text-left">Pregunta</th>
                    <th class="text-center">Inciso</th>
                    <th class="text-left">Respuesta</th>
                    <th class="text-center">¿Es Correcta?</th>
                    <th class="text-center">Acción</th>
                  </tr>
                  </thead>
                  <tbody>
                    <% @answers.each do |answer| %>
                      <tr>
                        <td class="text-left"><%= answer.id %></td>
                        <td class="text-justify"><%= answer.question.pregunta.truncate(100, omission: "...") %></td>
                        <td class="text-center"><%= answer.inciso %></td>
                        <td class="text-justify"><%= answer.respuesta %></td>
                        <% if answer.correcta %>
                          <td class="text-center"><span class="label label-success">SI</span></td>
                        <% else %>
                          <td class="text-center"><span class="label label-danger">NO</span></td>
                        <% end %>
                        <td class="text-left">
                          <%= link_to edit_answer_path(answer.id) do %>
                            <span class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-pencil"></i></span>
                          <% end %>
                          <%= link_to destroy_answer_path(answer.id), method: :delete, data:{confirm: "Esta acción es irreversible, ¿Desea continuar?"} do %>
                            <span class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-trash"></i></span>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :script do %>
  <script>

      $(function () {
          <%= render "js_partials/dataTable.js" %>
          $.select2("select");
      });

  </script>
<% end %>