<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <h3 class="block m-t-xs">
                                <i class="fa fa-car"></i> DRIVIFY
                            </h3>
                            <span class="block text-muted m-t-xs">
                                <strong class="font-bold"><%= "#{current_user.nombre} #{current_user.ap_paterno}"%></strong>
                            </span>
                        </span>
                    </a>
                    <!--<ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#">Logout</a></li>
                    </ul>-->
                </div>
                <div class="logo-element">
                  <i class="fa fa-car"></i>
                </div>
            </li>

            <li class="<%= 'active' if (current_page?(home_path) || current_page?(root_path)) %>">
                <%= link_to home_path do %>
                <i class="fa fa-home"></i> <span class="nav-label">Inicio</span>
                <% end %>
            </li>

            <%# Modulos de administradores %>
            <% if current_user.role.id == 1 %>
              <li class="<%= 'active' if params[:admin_users_scope].eql? true %>">
                <%= link_to user_admin_path do %>
                  <i class="fa fa-users"></i> <span class="nav-label">Usuarios</span>
                <% end %>
              </li>

              <li class="<%= 'active' if params[:admin_quizzes_type_scope].eql? true %>">
                <%= link_to quiz_type_admin_path do %>
                  <i class="fa fa-list-ol"></i> <span class="nav-label">Tipos de Evaluaciones Teóricas</span>
                <% end %>
              </li>

              <li class="<%= 'active' if params[:admin_questions_scope].eql? true %>">
                <%= link_to question_admin_path do %>
                  <i class="fa fa-question"></i> <span class="nav-label">Preguntas</span>
                <% end %>
              </li>

              <li class="<%= 'active' if params[:admin_answers_scope].eql? true %>">
                <%= link_to answer_admin_path do %>
                  <i class="fa fa-check"></i> <span class="nav-label">Respuestas</span>
                <% end %>
              </li>
            <% end %>

            <%# Modulos de evaluadores %>
            <% if current_user.role.id == 2 %>
              <li class="<%= 'active' if params[:evaluaciones_teoricas_scope].eql? true %>">
                <%= link_to quiz_eval_path do %>
                  <i class="fa fa-list-ol"></i> <span class="nav-label">Evaluaciones Teóricas</span>
                <% end %>
              </li>
              <li class="<%= 'active' if params[:simulaciones_scope].eql? true %>">
                <%= link_to simulation_eval_path do %>
                  <i class="fa fa-car"></i> <span class="nav-label">Evaluaciones Prácticas</span>
                <% end %>
              </li>
            <% end %>

            <%# Modulos de usuarios %>
            <% if current_user.role.id == 3 %>
              <li class="<%= 'active' if params[:evaluaciones_teoricas_scope].eql? true %>">
                <%= link_to quiz_user_path do %>
                  <i class="fa fa-list-ol"></i> <span class="nav-label">Evaluaciones Teóricas</span>
                <% end %>
              </li>
              <li class="<%= 'active' if params[:simulaciones_scope].eql? true %>">
                <%= link_to simulation_user_path do %>
                  <i class="fa fa-car"></i> <span class="nav-label">Evaluaciones Prácticas</span>
                <% end %>
              </li>
            <% end %>

        </ul>

    </div>
</nav>