<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <h3 class="block m-t-xs">
                                <i class="fa fa-car"></i> DRIVIFY
                            </h3>
                            <span class="block text-muted m-t-xs">
                                <strong class="font-bold"><%= "#{@current_user.nombre} #{@current_user.ap_paterno}"%></strong>
                            </span>
                        </span>
                    </a>
                    <!--<ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#">Logout</a></li>
                    </ul>-->
                </div>
                <div class="logo-element">
                  <i class="fa fa-car"></i>
                </div>
            </li>

            <li class="<%= 'active' if (current_page?(home_path) || current_page?(root_path)) %>">
                <%= link_to home_path do %>
                <i class="fa fa-laptop"></i> <span class="nav-label">Main page</span>
                <% end %>
            </li>

            <%# Modulo de administracion de usuarios para administradores %>
            <% if @current_user.role.id == 1 %>
              <li class="<%= 'active' if (current_page?(user_admin_path) || current_page?(new_user_path)) %>">
                <%= link_to user_admin_path do %>
                  <i class="fa fa-users"></i> <span class="nav-label">Usuarios</span>
                <% end %>
              </li>
            <% end %>

        </ul>

    </div>
</nav>